{% extends "base.html" %} {% block title %} Booking Page {% endblock %}
{% load static %}
{% block content%}

<div class="container mt-2 text-center">
    <h1 class="text-center">Booking Page</h1>
    <!-- Displays the information of the user that is logged in -->
    <div class="row mt-4">
        <div class="card col-5">
            <div class="card-body">
                <h3 class="card-title">Your Information</h3>
                <ul class="no-bullets">
                    <li>Name: {{ user }}</li>
                    <li>Email Address: {{ user.email_address }}</li>
                    <li>Phone Number: {{ user.phone_no }}</li>
                </ul>
            </div>
        </div>
        <div class="card col-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Book</button>
            </form>
            
        </div>

        <div class="card col-2">
            <button class="mt-2">Add Extra Players</button>
        </div>
    </div>
    {% endblock %}