{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="container-fluid course-bg-image d-flex align-items-center overlay-md">
    <div class="ml-5">
        <h1 class="text-white fw-bold m-5">Welcome to Burch's Golf Club, come and play a round now!</h1>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-space-evenly">
        <div class="col-lg-4 col-12">
            <h2>Where can you find us?</h2>
            <ul>
                <li>
                    Postcode :
                </li>
                <li>
                    City :
                </li>
                <li>
                    Road :
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-12">
            Insert google map
        </div>
        <div class="col-lg-4 col-12"></div>
    </div>
</div>
    {% endblock %}