{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="container-fluid course-bg-image d-flex align-items-center">
    <div class="ml-5">
        <h1 class="text-white fw-bold m-5 hero-text">Welcome to Burch's Golf Club, come and play a round now!</h1>
    </div>
</div>
{% if messages %}
<div class="container-fluid alert-fail fw-bold">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show text-wrap"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container-fluid">
    <div class="row d-flex justify-content-space-evenly info-box text-center">
        <div class="col-lg-4 col-12 text-green text-center p-2">
            <h2>Where can you find us?</h2>
            <hr>
            <ul class="no-bullets">
                <li>
                    Postcode : CB25
                </li>
                <li>
                    City : Cambridge
                </li>
                <li>
                    Road : London Rd
                </li>
            </ul>
            <hr>
        </div>
        <div class="col-lg-4 col-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78254.4985806053!2d0.037586744176357025!3d52.198813404241804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d85d89f32a012d%3A0x63a320e1a35e3d21!2sCambridge!5e0!3m2!1sen!2suk!4v1731529787953!5m2!1sen!2suk"
                class="map" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" title="Map to show location of course"></iframe>
        </div>
        <div class="col-lg-4 col-12 text-green p-2 text-start">
            <hr>
            <p>
                At Burch's Golf Course, where breathtaking landscapes meet exceptional golfing experiences.
                Visitors can look forward to pristine fairways, challenging holes, and a serene atmosphere perfect for
                players of all skill levels. Whether you're here for a casual round, competitive play, or simply to
                enjoy the beautiful surroundings, our course promises a memorable outing. </p>
                <hr>
        </div>
    </div>
</div>
{% endblock %}