.no-bullets {
    list-style-type: none;
}

body {
    background-color: #F9FAFC;
}

.map {
    width: 100%;
    height: 100%;
}

.card {
    border: none;
    background-color: transparent;
}

.btn-signup,
.btn-edit {
    background-color: #455526;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #455526;
}

.link {
    color: #455526;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #7CAD0B;
    text-decoration: underline;
}

.text-white {
    color: white;
}

.text-green {
    color: #455526;
}

.text-start {
    text-align: start;
}

.parallax {
    /* The image used */
    background-image: url("/static/images/course-image1.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alert-fail {
    color: red;
    margin-top: 5px;
}

/* ----------------------------- base.html styling */

.bg-green {
    background-color: #455526;
}

.bg-white {
    background-color: white;
}

.bg-book-btn {
    background-color: #7CAD0B;
    border-radius: 10px;
}

.expand-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
}

.navbar-sh {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer styling */

.social-icons {
    color: #455526;
}

.social-icons:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    background-color: #455526;
}

/* ----------------------------- Home page styling */
.hero-text {
    background-color: #455526;
    padding: 10px;
    border-radius: 30px;
}

.course-bg-image {
    background-image: url("/static/images/course-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45vh;
}

.info-box {
    border: 2px solid #455526;
}

/* ----------------------------- Booking page styling */

.booking-info-box {
    border: 2px #455526;
    border-style: solid;
}

.book-btn {
    border: 2px solid;
    color: #455526;
    border-radius: 5px;
    padding: 10px 30px;
}

.book-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ----------------------------- Logout page styling */

.logout-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #455526;
    max-width: 500px;
    padding: 20px 0;
}

.logout-container {
    margin-top: 30vh;
}

/* ----------------------------- Signup page styling */

.signup-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #455526;
    min-width: 50%;
    padding: 20px 0;
}

.signup-container {
    margin-top: 10vh;
}

/* ----------------------------- Signin page styling */

.signin-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #455526;
    max-width: 500px;
    padding: 20px 0;
}

.signin-container {
    margin-top: 10vh;
}

/* ----------------------------- My bookings page styling */

.mt-10 {
    margin-top: 75px;
}


/* Make the table have a scroll wheel so that on small screens it does not create horizontal scroll for the whole page */
.bk-table {
    width: 100%;
    overflow-x: auto;
    display: block;
    table-layout: auto;
    background-color: #455526;
    color: white;
}

.table-responsive .bk-table {
    display: table;
}

table {
    table-layout: auto;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}