.no-bullets {
    list-style-type: none;
}

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.scale {
    width: 100%;
    height: auto;
}

.btn-signup,
.btn-edit {
    background-color: #9EB25D;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #9EB25D;
}

.link {
    color: #9EB25D;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #7CAD0B;
    text-decoration: underline;
}

.text-white {
    color: white;
}

.text-green {
    color: #9EB25D;
}

.text-start {
    text-align: start;
}

.parallax {
    /* The image used */
    background-image: url("/static/images/course-image1.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------------------- base.html styling */

.bg-green {
    background-color: #9EB25D;
}

.bg-book-btn {
    background-color: #7CAD0B;
    border-radius: 10px;
}

.expand-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-weight: bold;
}

.navbar-sh {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer styling */

.social-icons {
    color: #9EB25D;
}

.social-icons:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* ----------------------------- Home page styling */

.course-bg-image {
    background-image: url("/static/images/course-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 45vh;
}

.overlay-md {
    background-color: #343437;
    opacity: 80%;
}

/* ----------------------------- Booking page styling */

.booking-info-box {
    border: 2px #9EB25D;
    border-style: solid;
}

.bg-green {
    background-color: #9EB25D;
}

.book-btn {
    border: 2px solid;
    color: #9EB25D;
    border-radius: 5px;
}

.book-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ----------------------------- Logout page styling */

.logout-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #9EB25D;
    max-width: 500px;
    padding: 20px 0;
}

.logout-container {
    margin-top: 30vh;
}

/* ----------------------------- Signup page styling */

.signup-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #9EB25D;
    min-width: 50%;
    padding: 20px 0;
}

.signup-container {
    margin-top: 10vh;
}

/* ----------------------------- Signin page styling */

.signin-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #9EB25D;
    max-width: 500px;
    padding: 20px 0;
}

.signin-container {
    margin-top: 10vh;
}