{% extends "base.html" %} {% block title %} Signout {% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<body class="parallax">
  <div class="container text-center logout-bg logout-container">
    <div class="col-12">
      <h2 class="text-green fw-bold">{% trans "Sign Out" %}</h2>
<hr>
    <p class="text-green">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="book-btn fw-bold">{% trans 'Sign Out' %}</button>
      <hr>
    </form>
    </div>
  </div>

</body>


{% endblock content %}